@import "~taro-ui/dist/style/components/modal.scss";
.index-modal-button {
    margin-top: 40px;
    width: 388px;
    height: 66px;
    background: #1348B3;
    opacity: 1;
    border-radius: 33px;
    text-align: center;
    font-size: 25px;
    font-family: PingFang SC;
    font-weight: 800;
    line-height: 66px;
    color: #FFFFFF;
    opacity: 1;
}

.index-modal {
    width: 547px;
    height: 340px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(132, 132, 132, 0.45);
    opacity: 1;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .index-modal-text {
        margin-top: 73px;
        text-align: center;
        width: 350px;
        height: 98px;
        font-size: 35px;
        font-family: PingFang SC;
        font-weight: 500;
        line-height: 49px;
        color: #333333;
        opacity: 1;
    }
}

.index {
    height: 100vh;
    width: 100vw;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    .index-bk {
        width: 750px;
        height: 273px;
        background: rgba(0, 0, 0, 0);
        opacity: 1;
        background-image: url("https://tva1.sinaimg.cn/large/008i3skNly1gqsd8hiz0cj32a70u0hdw.jpg");
        background-size: cover;
    }
    .index-inner {
        transform: translateY(-5vh);
        width: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        .index-block1 {
            width: 690px;
            height: 226px;
            background: #FFFFFF;
            opacity: 1;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            .img {
                width: 70px;
                height: 77px;
                background: #1348B3;
                opacity: 1;
            }
            .index-span {
                width: 0px;
                height: 177px;
                border: 2px solid #D1D1D1;
                opacity: 1;
                margin: 0 50px 0 50px;
                background-color: #D1D1D1;
            }
        }
        .index-block2 {
            width: 690px;
            height: 193px;
            margin-top: 26px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .index-bloack-inner {
                width: 325px;
                height: 193px;
                background: #FFFFFF;
                opacity: 1;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .index-footer {
            width: 690px;
            height: 435px;
            margin-top: 25px;
            background: #FFFFFF;
            opacity: 1;
            border-radius: 20px;
            background-image: url("https://tva1.sinaimg.cn/large/008i3skNly1gqraxdmgtkj30m40e4di7.jpg");
            background-size: cover;
        }
    }
}