.Mine {
    height: 100vh;
    width: 100vw;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://tva1.sinaimg.cn/large/008i3skNly1gqscxiw7xyj30nu0zi78n.jpg");
    background-size: cover;
}